/* шрифты */
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

html {
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* основной шрифт */
body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-shadow: 0 0 15px 0 #00000033;

}
.main-container {
    margin: 0 auto;
    width: 1200px;
    flex-grow: 1;
}

.page-container {
    margin: 0 auto;
    width: 1200px;
}

/* стили инпутов */
.field {
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background-color: rgba(242, 242, 242, 1);
}

.field:hover,
.field:focus{
    background-color: rgba(230, 230, 230, 1);
}

.field:disabled,
.field:disabled:hover {
    background-color: rgba(229, 229, 229, 1);
    color: #ffffff;
}


input::placeholder{
    color: rgba(0, 0, 0, 0.3)
}

input:disabled::placeholder{
    color: #ffffff
}



/* стили главной страницы, шапки и подвала */
/* навигация */

.header {
    margin: 0 auto;
    display: flex;
    min-width: auto;
    max-width: 100%;
    background-color: #ffffff;
    padding: 0;
}

.logo {
    margin: 0;
    margin-bottom: -6px;
}

.logo a{
    margin: 0 auto;
    position: relative;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 70px;
}

.navigation-list {
    margin: 0;
    margin-left: 30px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    max-width: 450px;
    column-gap: 32px;
    row-gap: 40px;
}

.navigation-link{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 20px;
}

.navigation-link:hover{
    color: #756157;
}

.navigation-link:focus  {
    color: #756157;
}

.navigation-link:active  {
    color: rgba(117 , 98, 87, 0.3);
}


.navigation .active::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(117 , 98, 87, 1);
    position: relative;
    top: 2px;
    /* border: 2px solid rgba(117 , 98, 87, 1); */
    box-sizing: border-box;
}

.user-menu {
    margin: 0;
    padding: 0;
    max-width: 400px;
    margin-left: auto;
    display: flex;
    align-items: center;
    list-style: none;
}
.user-menu a:not(:last-child){
    padding: 1px;
    text-decoration: none;
}

.user-menu-item {
    margin: 0 auto;
    padding: 22px 12px;
}

.search-button-link:hover .search-button-icon{
    fill: #756157;
}

.search-button-link:focus .search-button-icon{
    fill: #756157;
}

.search-button-link:active .search-button-icon{
    fill: rgba(117 , 98, 87, 0.3);
}

.favourites-link:hover .favourites-icon{
    fill: #756157;
}

.favourites-link:focus .favourites-icon{
    fill: #756157;
}

.favourites-link:active .favourites-icon{
    fill: rgba(117 , 98, 87, 0.3);
}

/* число избранного */
.favourites-quantity {
    font-family: "PT Sans", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    color: #ffffff;
    background-color: #7DB54F;
    border-radius: 10px;
    text-decoration: none;
    min-width: 20px;
    height: 20px;
    text-align: center;
    padding: 3px 3px 3px 3px;
    position: relative;
    top: -15px;
    left: -16px;
}

.favourites a{
    text-decoration: none;
    margin: 0;
}

/* кнопка Хочу в Седону */
.want-to-sedona-link {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #756157;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    padding: 8px 50px;
    margin-left: 20px;
}

.want-to-sedona-link:hover {
    background-color: rgba(97, 80, 72, 1);
}

.want-to-sedona-link:focus   {
    background-color: rgba(97, 80, 72, 1);
}

.want-to-sedona-link:active   {
    background-color: rgba(117 , 98, 87, 1);
    color: rgba(255, 255, 255, 0.3);
}

/* блок-герой главной страницы */
.hero-index {
    background-image: url("../images/index/hero-background.jpg");
    background-size:cover;
    background-color: #333333;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 51px;
    padding-bottom: 82px;
}

.hero-index p{
    margin: 0 auto;
}

.hero-bottom-decor {
    margin: 0 auto;
    margin-bottom: -82px; /* компенсирует нижний паддинг блока героя, который рекомендовали на 6 лайве*/
    padding: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.decor-wrapper {
    line-height: 0; /* при базовом значении высоты строки появляется неудаляемый отступ снизу*/
}


/* блок преимуществ */
.advantages {
    background-color: #ffffff;
    margin: 0 auto;
    padding-top: 69px;
}

.advantages p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px; /* по макету 69 + 21 отступ до следующего блока*/
}

.advantages h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: 25px;
    max-width: 620px;
}

.advantages-list{
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

.advanatges-item-container {
    width: 230px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 90px 85px;
    margin: 0 0;
}

.advantages-item-header{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    max-width: 175px;
}

.advantages-item-header::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    margin: 30px auto 30px ;
}

.header-with-picture::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    margin: 30px auto 30px ;
}

.advantages-list p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin: 0 auto;
}

/* карточка преимущество с базовым цветом */
.advantages-item {
    background-color: #83B3D31F;
    margin: 0 auto;
}

/* карточка преимущество с дополнтельным цветом  */
.advantages-item:not(.with-picture):nth-child(odd){
    background-color: #83B3D333;
    margin: 0 auto;
}

/* карточка преимущество с картинкой */
.with-picture {
    display: flex;
    background-color: #82B3D3;
    width: 100%;
    min-height: 200px;
    grid-column-start: 1;
    grid-column-end: -1;
    margin: 0 auto;
}

.with-picture img{
object-fit: cover;
}

.with-picture h3{
color: #ffffff;
}

.with-picture p{
    color: #ffffff;
}

/* блок особенностей Седоны */
.invite-wrapper {
    background-color: #ffffff;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;
}

.invite h2{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    width: 505px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.invite p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
}

.invite h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

.invite-list{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.invite-list-item{
    width: 230px;
    height: 223px;
    margin: 0 auto;
    padding-top: 80px ;
    padding-bottom: 80px ;
    padding-left:85px;
    padding-right:85px;
    background-color: #83B3D31F;
}

.invite-list-item:nth-child(even){
    background-color: #ffffff;
}

.invite-list-item-house {
    background-image: url("../images/index/advantage-house.svg");
    background-repeat: no-repeat;
    background-position: center 80px;
}

.invite-list-item-souveneer{
    background-image: url("../images/index/advantage-souveneer.svg");
    background-repeat: no-repeat;
    background-position: center 80px;
}

.invite-list-item-food {
    background-image: url("../images/index/advantage-food.svg");
    background-repeat: no-repeat;
    background-position: center 80px;
}

.invite-list h3{
    margin-top: 102px;
    margin-bottom: 30px;
}

.invite-list p{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
}

/* блок с переходом на поиск отеля */

.search-form {
    margin: 0 auto;
    padding: 96px 304px;
    background-color: #ffffff;
}

.search-form h2{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    width: 297px;
    margin-bottom: 20px;
}
.search-form p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 54px;
    width: 592px;
}

.hotel-search-link {
    color: #ffffff;
    font-size: 20px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #756157;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 276px;
    height: 36px;
    margin: 0 auto ;
    padding: 8px 50px;
    border-radius: 4px;
}

.hotel-search-link:hover {
    background-color: rgba(98, 80, 72, 1);
}

.hotel-search-link:focus {
    background-color: rgba(98, 80, 72, 1);
}

.hotel-search-link:active {
    background-color: rgba(117, 97, 87, 1);
    color: rgb(255, 255, 255, 0.3)
}

/* блок подписки */
.subscribe {
    background-color: #83B3D31F;
    background-image: url("../images/index/subscribe-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding-top: 96px;
    padding-left: 258px;
    padding-right: 258px;
    padding-bottom: 104px;
}

.subscribe h2{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.subscribe p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 54px;
    box-sizing: border-box;
}

.subscribe-button{
    font-family: "PT Sans";
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #82B3D3;
    text-decoration: none;
    text-align: center;
    border: 0;
    padding: 8px 10px;
    box-sizing: border-box;
    min-width: 232px;
    margin: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.subscribe-button:hover {
    background-color: rgba(104, 162, 202, 1);
}

.subscribe-button:focus {
    background-color: rgba(104, 162, 202, 1);
}

.subscribe-button:active{
    background-color: rgba(130 , 179, 211, 1);
    color: rgb(255, 255, 255, 0.3);
}


.email-input{
    font-family: "PT Sans";
    border: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 12px 20px;
    margin: 0 0;
    width: 412px;
}

.subscribe-wrapper {
    display: flex;
    width: 684px;;
    margin: 0;
    padding: 0;
}

/* подвал */
.footer {
    background-color: #ffffff;
    width: 1200px;
}

.footer-conainer{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-right: auto;
    padding: 30px 70px;
    justify-content: space-between;
}

.social-list{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0 0;
    justify-content: space-between;
}

.social-list-item{
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon {
margin: 0;
padding: 0;
display: flex;
}

.vk-icon:hover{
    fill: rgba(104, 162, 202, 1);
}
.vk-icon:focus{
    fill: rgba(104, 162, 202, 1);
}
.vk-icon:active{
    fill: rgba(104, 162, 202, 0.3);
}
.youtube-icon:hover{
    fill: rgba(104, 162, 202, 1);
}
.youtube-icon:focus{
    fill: rgba(104, 162, 202, 1);
}
.youtube-icon:active{
    fill: rgba(104, 162, 202, 0.3);
}
.telegram-icon:hover{
    fill: rgba(104, 162, 202, 1);
}
.telegram-icon:focus{
    fill: rgba(104, 162, 202, 1);
}
.telegram-icon:active{
    fill: rgba(104, 162, 202, 0.3);
}

.phone{
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #000000;
    vertical-align: middle;
}

.phone:hover{
    color: #756157;
}

.phone:focus  {
    color: #756157;
}

.phone:active  {
    color: rgba(117 , 98, 87, 0.3);
}

.html-academy-link{
    display: flex;
    align-items: center;
}

.html-academy-icon:hover {
    fill: #756157;
}

.html-academy-icon:focus {
    fill: #756157;
}

.html-academy-icon:active {
    fill: rgba(117 , 98, 87, 0.3);
}

/* стили каталога */
/* блок-герой каталога */
.hero-catalog {
    background-image: url(../images/catalog/catalog-background.jpg);
    background-size: cover;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 70px;
    padding-left: 70px;
    padding-right: 70px;
    margin: 0 auto;
    color: #ffffff;
}

.hero-catalog h1{
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 8px;
}

/* стили хлебных крошек */
.breadcrumbs {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding: 0;
}

.breadcrumbs-item{
padding-right: 30px;
text-decoration: none;
background-image: url("../images/decoration/breadcrumb-arrow.svg");
background-repeat: no-repeat;
background-size: 10px 10px;
background-position: center right 10px;
}

.breadcrumbs li:last-child{
    padding: 0;
    background-image: none
    }

/* стили фильтра */
.hotel-options-list{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    text-align: left;

}

.hotel-options{
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    padding-top: 32px;
}

.filter-wrapper{
    margin: 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-form{
    margin: 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

.check-radio-wrapper{
    display: flex;
    margin: 0;
    margin-right:  auto;
    padding: 0;
}

/* чекбоксы */
.hotel-options{
    margin: 0;
    margin-right: 70px;
    padding: 0;
}

.hotel-options-list{
    margin: 0;
    margin-top: 32px;
    padding: 0;
    list-style: none;
}


.hotel-options-list-legend,
.hotel-type-legend {
    margin: 0;
    padding: 0;
}


.hotel-options-list li{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    list-style: none;
    margin: 0 auto;
    padding-bottom:16px;
    text-align: left;
}

.hotel-options-list li:last-child{
    padding: 0;
}

.control{
    position: relative;
    display: block;
    padding-left: 36px;
}

.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border: none;
    background-color: #ffffff;
    border-radius: 4px;
}

.control:hover .control-mark{
    background-color: rgba(255, 255, 255, 0.7);
}

.control:active .control-mark{
    background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
    background-image: url("../images/decoration/checkbox-and-radiobutton/checkbox-on-normal-or-browser-focus.svg");
    background-size: 20px 20px;
    background-color: #F2F2F2;
    background-position: center;
}

/* радиокнопки */
.hotel-type{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    text-align: left;
    border: none;
    list-style: none;
    margin: 0 0;
    padding: 0;
}

.hotel-type-list{
    list-style: none;
    margin: 0 0;
    margin-top: 32px;
    padding: 0;
}

.hotel-type-item{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    padding-bottom:16px;
    }

    .hotel-type-list li:last-child{
        padding: 0;
    }

/* стили цен */
.price-select-form{
    border: none;
    margin: 0;
    margin-right: 70px;
    padding: 0;
}

.price-select-header{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
    vertical-align: top;
}

.price-select{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.price-from-wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
}
.price-from {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    max-width: 143px;
    box-sizing: border-box;
    padding: 12px 20px;
    border: none;
    border-radius: 4px 0 0 4px;
    margin-right: 2px;
}

.price-from-label{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: rgb(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

.price-to {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    max-width: 143px;;
    box-sizing: border-box;
    padding: 12px 20px;
    border: none;
    border-radius: 0 4px 4px 0;
}

.price-to-label{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: rgb(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

/* диапазон цен */
.range-scale {
position: relative;
height: 4px;
margin-top: 46px;
background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
}

.range-toggle{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.range-toggle:active{
    border: 2px solid rgba(130 , 179, 211, 1);
}

.toggle-min{
    top: -8px;
    right: 0px;
}

.toggle-max{
    top: -8px;
    left: 0px;
}


/* кнопки отправить и сброс */
.filter-button-wrapper {
    list-style: none;
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.submit-filter-button {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    border: 0;
    border-radius: 4px;
    padding: 8px 10px;
    margin-bottom: 32px;
    box-sizing: border-box;
    min-width: 191px;
}

.submit-filter-button:hover {
    background-color: rgba(104, 162, 202, 1);
}

.submit-filter-button:focus {
    background-color: rgba(104, 162, 202, 1);
}

.submit-filter-button:active{
    background-color: rgba(130 , 179, 211, 1);
    color: rgb(255, 255, 255, 0.3);
}

.reset-filter-button {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    padding: 8px 10px;
    box-sizing: border-box;
    min-width: 191px;
}

.reset-filter-buttonn:hover {
    color: rgb(255, 255, 255, 1);
}

.reset-filter-button:focus {
    color: rgb(255, 255, 255, 1);
}

.reset-filter-button:active{
    color: rgb(255, 255, 255, 0.3);
}

.reset-filter-button:disabled{
    color: rgb(255, 255, 255, 0.3);
}

/* каталог */
.catalog {
    background-color: #ffffff;
    margin: 0 auto;
    padding-top:50px;
    padding-bottom: 60px;
    padding-left: 70px;
    padding-right: 70px;
}

/* стили блока результатов */
.sorting{
    background-color: #ffffff;
    display: flex;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;
    align-items: center;
}

.sorting-results{
    padding: 0;
    margin-right: auto;
}
.sorting b{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.search-quantity{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.sorting select{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    margin-right: 70px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    padding: 14px 20px;
}

.select-option{
    margin-right: auto;
}

/* стили выбора режима отображения */

.view-type{
    margin: 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.view-type-button{
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid rgba(229, 229, 229, 1);
    padding: 14px 12px;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-view-type{
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px solid #000000;
    box-sizing: border-box;
    margin: 0;
}

.view-type-icon {
    margin: 0;
}
/* стили карточек отелей */
.hotel-cards{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border: none;
}

.hotel-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto auto auto;
    min-width: 300px;
    column-gap: 20px;
    row-gap: 16px;
    padding: 19px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
}

.catalog-hotel-link{
    text-decoration: none;
    grid-column: span 2;
    margin: 0;
    padding: 0;
}

.hotel-card-img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hotel-name{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    color: #000000;
    margin-bottom: 16px;
    margin: 0;
}

.card-hotel-type{
    color: #333333;
    padding: 0;
    margin: 0;
}

.price {
    color: #333333;
    margin: 0;
    margin-left: auto;
    padding: 0;
}

.more-button {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #756157;
    text-decoration: none;
    text-align: center;
    padding: 8px 10px;
    margin: 0;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    align-self: center;
}

.more-button:hover{
    background-color:rgba(97, 80, 72, 1) ;
}

.more-button:focus{
    background-color:rgba(97, 80, 72, 1) ;
}

.more-button:active{
    background-color:rgba(117 , 98, 87, 1);
    color: rgb(255, 255, 255, 0.3);
}

.to-favourite{
    font-family: "PT Sans", Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #82B3D3;
    text-decoration: none;
    text-align: center;
    border: 0;
    padding: 8px 20px;
    width: 100%;
    margin: 0;
    border-radius: 4px;
    align-self: center;
    box-sizing: border-box;
}

.to-favourite:hover {
    background-color: rgba(104, 162, 202, 1);
}

.to-favourite:focus {
    background-color: rgba(104, 162, 202, 1);
}
.to-favourite:active{
    background-color: rgba(130 , 179, 211, 1);
    color: rgb(255, 255, 255, 0.3);
}

.in-favourite{
    font-family: "PT Sans", Arial, sans-serif;
    background-color: #7DB54F;
    color: #ffffff;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: 0;
    width: 100%;
    margin: 0;
}

.in-favourite:hover {
    background-color: rgba(108, 158, 66, 1);
}

.in-favourite:focus {
    background-color: rgba(108, 158, 66, 1);
}
.in-favourite:active{
    background-color: rgba(125, 181, 79, 1);
    color: rgb(255, 255, 255, 0.3);
}

.hotel-raiting{
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #f2f2f2;
    text-decoration: none;
    text-align: center;
    border: 1px solid #e6e6e6;
    padding: 8px 20px;
    margin: 0 ;
    border-radius: 4px;
}

.hotel-stars {
    height: 17px;
    margin: auto 0;
    background-image: url("../images/decoration/star.svg");
    background-repeat: space no-repeat;
    fill: #83B3D3;
}

.hotel-stars-4 {
    width: 80px;
}

.hotel-stars-3 {
    width: 60px;
}

.hotel-stars-2 {
    width: 40px;
}

/*пагинация*/
/* перед пагинацией должна быть черта */
.pagination::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgba(230, 230, 230, 1);
    margin-bottom: 40px;
}

.pagination {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    padding-top: 40px;
    list-style: none;
    gap: 8px;
}

.pagination a{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 auto;
}
.pagination-button a{
    display: flex;
    height: 60px;
    min-width: 60px;
    box-sizing: border-box;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    padding: 0 10px;
}
.pagination-button:hover a{
    background-color: rgba(104, 162, 202, 1);
}

.pagination-button:focus a{
    background-color: rgba(104, 162, 202, 1);
}
.pagination-button:active a{
    background-color: rgba(130 , 179, 211, 1);
    color: rgb(255, 255, 255, 0.3);
}

.pagination-button:hover .active{
    background-color: rgba(242, 242, 242, 1);
}
.pagination-button:focus .active{
    background-color: rgba(242, 242, 242, 1);
}
.pagination-button:active .active{
    background-color: rgba(242, 242, 242, 1);
}

.pagination-button:hover .pagination-hidden{
    background-color: transparent;
}
.pagination-button:focus .pagination-hidden{
    background-color: transparent;
}
.pagination-button:active .pagination-hidden{
    background-color: transparent;
}

.pagination .active{
    color: #000000;
    background-color: #F2F2F2;
    text-decoration: none;
    border-radius: 4px;
}

.pagination .pagination-hidden{
    color: #000000;
    background-color: transparent;
    text-decoration: none;
    border-radius: 4px;
}

/*блок подписки*/

.subscribe-lite {
    background-image: none;
    background-color: #ffffff;
    color: #000000;
    margin: 0 0;
    padding-top: 96px;
    padding-bottom: 104px;
    padding-left: 258px;
    padding-right: 258px;
}

.subscribe-lite h2{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.subscribe-lite p{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.subscribe-button{
    color: #ffffff;
    font-size: 20px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #82B3D3;
    text-decoration: none;
    text-align: center;
    border: 0;
}
