/* шрифты */
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format(".woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format(".woff2");
    font-display: swap;
}

*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

html {
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* основной шрифт */
body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

input {
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

input::placeholder{
    color: #dadada;
}

/* стили главной страницы, шапки и подвала */
/* навигация */
.navigation-item a {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    padding: 16px 20px;
}

/* число избранного */
.favourites-quantity {
    font-family: "PT Sans";
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    color: #ffffff;
    background-color: #7DB54F;
    border-radius: 50%;
    text-decoration: none;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5px 5px 5px 4px;
}

.favourites a{
    text-decoration: none;
}

/* кнопка Хочу в Седону */
.want-to-sedona-link {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #756157;
    text-decoration: none;
    text-align: center;
}

/* блок-герой главной страницы */
.hero-index {
    background-image: url(../images/index/hero-background.jpg);
    background-size: 100% auto;
    background-color: #333333;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    display: block;
}

.hero-index p{
    margin: 0 auto;
}

.hero-bottom-decor {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.hero-text{
    padding: 0;
    margin-top: 51px;
    margin-bottom: 20px;
}


/* блок преимуществ */
.advantages {
    background-color: #ffffff;
    margin: 0 auto;
}

.advantages p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 69px;
}

.advanages-list{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.advantages h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 69px;
    padding-bottom: 25px;
}

.advanages-list h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

.advanages-list p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

/* прреимущество с картинкой */
.advanages-item-with-picture {
    background-color: #82B3D3;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}
.advanages-item-with-picture .description{
    margin: 0;
    padding: 103px 85px;
    width: 230px;;
}

.advanages-item-with-picture h3{
    color: #ffffff;
}

.advanages-item-with-picture p{
    color: #ffffff;
}

/* преимущество с базовым цветом */
.advanages-item-standart {
    background-color: #83B3D31F;
    margin: 0;
    padding: 103px 85px;
    width: 230px;

}

/* преимущество с дополнтельным цветом */
.advanages-item-other-color {
    background-color: #83B3D333;
    margin: 0;
    padding: 103px 85px;
    width: 230px;
}

/* блок особенностей Седоны */
.invite-wrapper {
    background-color: #ffffff;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;
}

.invite h2{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    width: 505px;
    margin: 0 auto;
}

.invite p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
}
.invite h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

.invite-list{
    display: flex;
    list-style: none;
    margin: 0 0;
}

.invite-list-item{
    width: 230px;
    height: 223px;
    margin: 0 auto;
    padding-top: 80px ;
    padding-bottom: 80px ;
    padding-left:85px;
    padding-right:85px;
}


.invite-list-item-house {
    background-color: #83B3D31F;
    background-image: url("../images/index/advantage-house.svg");
    background-repeat: no-repeat;
    background-position: center top;
}

.invite-list-item-souveneer{
    background-color: #83B3D31F;
    background-image: url("../images/index/advantage-souveneer.svg");
    background-repeat: no-repeat;
    background-position: center top;
}

.invite-list-item-food {
    background-color: #ffffff;
    background-image: url("../images/index/advantage-food.svg");
    background-repeat: no-repeat;
    background-position: center top;
}

.invite-list p{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
}

/* блок с переходом на поиск отеля */

.search-form {
    margin: 0 auto;
    padding: 96px 304px;
    background-color: #ffffff;
}

.search-form h2{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    width: 297px;
    margin-bottom: 20px;
}
.search-form p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 54px;
    width: 592px;
}

.hotel-search-link {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #756157;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    padding: 8px 50px;
    border-radius: 4px;
}

/* блок подписки */
.subscribe {
    background-color: #83B3D31F;
    background-image: url(../images/index/subscribe-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    padding-top: 96px;
    padding-left: 258px;
    padding-right: 258px;
    padding-bottom: 104px;
}

.subscribe h2{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.subscribe p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 475px;
    margin: 0 auto;
    margin-bottom: 54px;
}

.subscribe-button{
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #82B3D3;
    text-decoration: none;
    text-align: center;
    border: 0;
    padding: 8px 50px;
    margin: 0 0;
    border-radius: 4px;
}

.email-input{
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 0 0;
    width: 350px;
}

.subsribe-wrapper {
    display: flex;
}

/* подвал */
.footer {
    background-color: #ffffff;
    width: 1200px;
}

.footer-conainer{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 30px 70px;
    justify-content: space-between;
}

.social-list{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.social-list-item{
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;


}
.phone{
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

/* стили каталога */
/* блок-герой каталога */
.hero-catalog {
    background-image: url(../images/catalog/catalog-background.png);
    background-size: cover;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 70px;
    padding-left: 70px;
    padding-right: 70px;
    margin: 0 auto;
    color: #ffffff;
}

.hero-catalog h1{
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 8px;
}

/* стили хлебных крошек */
.breadcrumb {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    margin-bottom: 40px;
    padding: 0;
}

.breadcrumb li{
padding-right: 10px;
}

/* стили фильтра */
.hotel-options-list{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    text-align: left;

}

.hotel-options{
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    padding-top: 32px;
}

.filter-wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-wrapper form{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;

}


/* чекбоксы */

.hotel-options-list{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.hotel-options-list li{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    list-style: none;
    margin: 0 auto;
    padding-bottom:16px;
    text-align: left;
}

.hotel-type{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    text-align: left;
    border: none;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    padding-top: 32px;
}

.hotel-type-list{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

/* радиокнопки */
    .hotel-type-list li{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    padding-bottom:16px;
    }

    /* стили цен */
.price-select-header{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 32px;
}

.price-from {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    width: 143px;
    padding: 12px 20px;
}

.price-to {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    width: 143px;
    padding: 12px 20px;
}

.price-from-label{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: #000000;
}

.price-to-label{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: #000000;
}

.price-select-form{
    border: none;
}

.price-slider input{
    width: 287px;
    margin-top: 36px;
}

/* кнопки отправить и сброс */
.submit-filter-button {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    border: 0;
    padding: 8px 50px;
    margin-bottom: 32px;
}
.reset-filter-button {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    border: 0;
    padding: 8px 50px;
}

.filter-button-wrapper {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
/* стили блока результатов */
.sorting-results {
    background-color: #ffffff;
}

.sorting-results b{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.search-quantity{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.sorting-results select{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
}

/* стили выбора режима отображения */
.view-type button{
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px solid #E5E5E5;
}

.view-type .active{
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px solid #000000;
}

/* стили карточек отелей */
.found-hotels a{
    text-decoration: none;
}

.found-hotels li{
    border-radius: 4px;
    border: 1px solid #E6E6E6;
}

.catalog-hotel-link h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    color: #000000;
}

.cards-price {
    color: #333333;
}
.cards-price .price{
    text-align: right;
}

.more-button {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #756157;
    text-decoration: none;
    text-align: center;
}

.to-favourite{
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #82B3D3;
    text-decoration: none;
    text-align: center;
    border: 0;
}

.favourite{
    background-color: #7DB54F;
    color: #ffffff;
}

.hotel-raiting{
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #f2f2f2;
    text-decoration: none;
    text-align: center;
    border: 0;
}

/*пагинация*/

.pagination a{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    border-radius: 4px;
}

.pagination .active{
    color: #000000;
    background-color: #F2F2F2;
    text-decoration: none;
    border-radius: 4px;
}

.pagination .pagination-hidden{
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
}

/*блок подписки*/

.subscribe-lite {
    background-image: none;
    background-color: #ffffff;
    color: #000000;
}

.subscribe-lite h2{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}

.subscribe-lite p{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.subscribe-button{
    color: #ffffff;
    font-size: 20px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #82B3D3;
    text-decoration: none;
    text-align: center;
    border: 0;
}

/*сетка страниц и крупных блоков*/
.main-container {
    flex-grow: 1;
}

/*навигация*/
.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 507px;
    display: flex;
    list-style: none;
}

.user-menu {
    margin: 0;
    padding: 0;
    max-width: 400px;
    margin-left: auto;
    display: flex;
    list-style: none;
}

/*основной контент*/
.page-container {
    margin: 0 auto;
}
